<library path="src">
  <class name="PluginManagerPlugin" type="vigir_pluginlib_manager.plugin_manager_widget.PluginManagerDialog" base_class_type="rqt_gui_py::Plugin">
    <description>
      Tool for managing all available plugins
    </description>
    <qtgui>
      <group>
        <label>vigir_pluginlib</label>
        <icon type="theme">folder</icon>
      </group>
      <label>Plugin Manager</label>
      <icon type="theme">preferences-desktop-keyboard</icon>
      <statustip>Tool for managing all available plugins</statustip>
    </qtgui>
  </class>
</library>
